#header-nav{
    background-color: grey;
}

.navbar-brand h1
{
    color: #000;
}
section div{
    background-color: grey;
}

section > div{
    margin: 15px;
}



@media (max-width: 768px)   {
    #header-nav{
        height: 70px;

    }
    #nav-list a{
        border: 1px #000;
        background-color: darksalmon;
        
    }
    }